@import './node_modules/bootstrap/dist/css/bootstrap.min.css';

$header-size: 40px;

body {
    background-color: #eee;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    height: 140px;
    // font-size: $header-size;
    font-weight: bold;
}

.container {
    background-color: #ddd;
    height: 200px;
    max-width: 700px;
}

.task {

}